body,
button {
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 16px;
}

html {
    &::-webkit-scrollbar {
        width: 0;
        transition: width 0.3s ease;
    }

    &:hover::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1618230f;
        border-radius: 50px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul {
        list-style-type: none;
    }
}
