@import '../variable.scss';

.account-card {
    display: flex;
    align-items: center;
    cursor: pointer;

    .card-image__container {
        width: 32px;
        height: 32px;
        position: relative;
        overflow: hidden;
        border-radius: 50px;
        margin-right: 12px;

        .card-image {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .account-card__content {
        .card-name {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 145px;
        }

        .card-subname {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            max-width: 145px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.other-menu__option-container {
    min-width: 223px;
    margin: -12px;
    padding: 8px 0;
    .other-menu__option {
        display: flex;
        align-items: center;
        padding: 10px 8px 10px 16px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #f8f8f8;
        }

        span:nth-child(2) {
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
        }

        svg {
            font-size: 20px;
            margin-right: 8px;
            font-weight: 600;
        }
    }
}

.header__logout-container {
    width: 400px !important;
    .header__logout-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.24px;
        padding: 0px 32px;
        color: rgb(22, 24, 35);
        text-align: center;
    }
    .header__logout-options {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        button {
            border-radius: 4px;
            color: rgb(22, 24, 35);
            border: 1px solid rgba(22, 24, 35, 0.12);
            background-color: rgb(255, 255, 255);
            width: 164px;
            height: 48px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            padding: 0px 10px;
            cursor: pointer;
            &:nth-child(1):hover {
                background-color: #f8f8f8;
            }
            &:nth-child(2) {
                color: rgb(254, 44, 85);
                border-color: rgb(254, 44, 85);

                &:hover {
                    background-color: rgba(254, 44, 85, 0.06);
                }
            }
        }
    }

    .ant-modal-content {
        padding: 32px;
        height: 194px;
    }
    .ant-modal-close,
    .ant-modal-footer {
        display: none;
    }
}

.header-shortcut {
    width: 400px !important;
    height: 280px !important;
    .ant-modal-content {
        padding: 40px 32px 32px;
    }
    .ant-modal-close {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgba(22, 24, 35, 0.03);

        .header-shortcut__close-btn {
            font-size: 20px;
        }
    }
    .header-shortcut__title {
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.24px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        color: rgb(22, 24, 35);
        white-space: nowrap;
    }

    .header-shortcut__items-container {
        margin-top: 16px;
        border-top: 1px solid rgba(22, 24, 35, 0.12);

        .header-shortcut__item {
            height: 40px;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.093px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(22, 24, 35, 0.12);
        }
    }
}

.layout {
    min-width: 1024px;
    .header {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        height: $header-height;
        align-items: center;
        border-bottom: 1px solid #ccc;
        background-color: white;
        z-index: 10;

        .header__image-container {
            .header__logo {
                cursor: pointer;
                width: 118px;
            }
        }

        .header__search {
            width: 500px;
            position: relative;

            input {
                border-radius: 50px;
                border: none;
                width: 100%;
                background-color: rgba(22, 24, 35, 0.06);
                height: 46px;
                padding: 0 92px 0 16px;
                outline: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;

                &:focus,
                &:hover {
                    outline: 1px solid #ccc;
                }
            }

            .header__search-option {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                cursor: pointer;
                display: flex;
                align-items: center;

                .header__times-icon {
                    vertical-align: middle;
                    padding: 4px 0;
                }

                .header__search-divider {
                    height: 28px;
                }

                .header__search-icon {
                    vertical-align: middle;
                    padding: 9px 16px 9px 12px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    &:hover {
                        background-color: rgba(22, 24, 35, 0.06);
                    }
                }
            }
        }

        .header__options {
            display: flex;
            align-items: center;
            .header-option {
                cursor: pointer;

                &.header-option__button {
                    width: 113px;
                    height: 36px;
                    background-color: unset;
                    border: 1px solid rgba(22, 24, 35, 0.12);
                    border-radius: 2px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;

                    &--red {
                        border-radius: 4px;
                        border: none;
                        color: rgba(255, 255, 255, 1);
                        background-color: rgba(254, 44, 85, 1);
                        min-height: 36px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 21px;
                        min-width: 100px;
                        padding: 0 0 3px;

                        &:hover {
                            background-color: #ef2a50;
                        }
                    }

                    > span {
                        font-size: 16px;
                        font-weight: 600;
                        vertical-align: middle;
                    }

                    &:hover {
                        background-color: #f8f8f8;
                        cursor: pointer;
                    }
                }

                &.header-option__message {
                    font-size: 26px;
                    display: flex;
                    align-items: center;
                }

                &.header-option__inbox {
                    font-size: 32px;
                    display: flex;
                    align-items: center;
                }

                &.header-option__more-menu {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }

                    &--unauth {
                        width: 20px;
                        height: 20px;
                    }
                }

                + .header-option {
                    margin-left: 16px;
                }
            }
        }
    }

    .layout__body {
        .sidebar {
            position: fixed;
            left: 0;
            bottom: 0;
            top: $header-height;
            padding: 20px 0 26px 8px;
            user-select: none;
            width: $sidebar-width;
            overflow-y: scroll;

            .sidebar__menu-container {
                padding-bottom: 8px;

                .sider__menu-item {
                    text-align: left;
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    .sidebar__item-text--active {
                        color: rgba(254, 44, 85, 1);
                    }

                    .sidebar__item-text {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        margin-left: 8px;
                    }

                    &:hover {
                        border-radius: 4px;
                        background-color: rgba(22, 24, 35, 0.03);
                    }
                }
            }

            .sidebar__account-list {
                padding: 16px 0;
                text-align: left;

                .sidebar__account-title {
                    padding: 0 8px;
                    margin-bottom: 8px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    opacity: 0.6;
                }

                ul {
                    .sidebar__account-item {
                        padding: 8px;
                        transition: all 0.3s ease;

                        &:hover {
                            border-radius: 4px;
                            background-color: rgba(22, 24, 35, 0.03);
                        }
                    }
                }

                .sidebar__more {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    color: rgb(254, 44, 85);
                    padding: 0 8px;
                    margin-top: 8px;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }

            .sidebar__login-container {
                padding: 20px 8px 24px 8px;
                width: 224px;
                .sidebar__login-title {
                    color: rgba(22, 24, 35, 0.5);
                    font-size: 16px;
                    line-height: 21px;
                    letter-spacing: 0.03px;
                }
                .sidebar__login-btn {
                    width: 100%;
                    margin-top: 20px;
                    border: 1px solid rgba(254, 44, 85, 1);
                    border-radius: 4px;
                    color: rgba(254, 44, 85, 1);
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 600;
                    min-width: 168px;
                    min-height: 48px;

                    &:hover {
                        background-color: rgba(254, 44, 85, 0.06);
                    }
                }
            }

            .sidebar-footer {
                padding-top: 16px;
                padding-left: 8px;
                text-align: left;

                .sidebar-footer__banner {
                    border-radius: 8px;
                    overflow: hidden;
                    cursor: pointer;
                    width: 208px;
                    height: 52px;
                    background: url('../../assets/images/sidebar_banner.png') no-repeat center/cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 30px;

                    .sidebar__banner-text {
                        color: rgba(22, 24, 35, 1);
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 21px;
                        letter-spacing: 0.03px;
                        word-wrap: none;
                        transition: all 0.3s ease;
                    }
                    &:hover .sidebar__banner-text {
                        scale: 1.1;
                    }

                    img {
                        display: none;
                    }
                }

                .sidebar-footer__link-container {
                    margin-bottom: 8px;
                    font-size: 14px;
                    a {
                        text-decoration: none;
                        color: rgba(22, 24, 35, 0.5);
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 17px;
                        display: inline-block;
                        margin-right: 6px;
                        margin-top: 5px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .sidebar-footer__copyright {
                    color: rgba(22, 24, 35, 0.5);
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 17px;
                    margin-right: 6px;
                    margin-top: 5px;
                }
            }

            &::-webkit-scrollbar {
                width: 0;
                transition: width 0.3s ease;
            }

            &:hover::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #1618230f;
                border-radius: 50px;
            }

            &::-webkit-scrollbar-thumb:hover {
            }
        }
    }

    .layout__content {
        padding-top: $header-height;
        padding-left: $sidebar-width;
    }
}

// --------- RESPONSIVE ---------
/* Mobile*/
@media only screen and (max-width: 46.1875em) {
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .layout {
        .layout__content {
            padding-left: 72px;
        }

        .layout__body {
            .sidebar {
                width: 72px;
                padding: 20px 0 26px 0;
                border-right: 1px solid rgba(22, 24, 35, 0.12);
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

                .sidebar__menu-container {
                    padding: 0;
                    .sider__menu-item {
                        justify-content: center;
                        .sidebar__item-text--active {
                            display: none;
                        }

                        .sidebar__item-text {
                            display: none;
                        }
                    }
                }

                .sidebar__account-list {
                    .sidebar__account-title {
                        display: none;
                    }

                    ul {
                        .sidebar__account-item {
                            .account-card {
                                justify-content: center;

                                .card-image__container {
                                    margin: 0;
                                }

                                .account-card__content {
                                    display: none;
                                }
                            }
                        }
                    }

                    .sidebar__more {
                        display: none;
                    }

                    &:nth-child(3) {
                        display: none;
                    }
                }

                .sidebar__login-container {
                    display: none;
                }

                .sidebar__divider {
                    width: 39px !important;
                    margin: 0 auto;

                    &:nth-child(2) {
                        display: none;
                    }
                }

                .sidebar-footer {
                    padding: 8px 0;
                    display: flex;
                    justify-content: center;

                    .sidebar-footer__banner {
                        width: 32px;
                        height: 32px;
                        margin: 8px;
                        overflow: hidden;
                        position: relative;
                        border-radius: 50px 50px 0 0;
                        background: transparent;

                        .sidebar__banner-text {
                            display: none;
                        }

                        > img {
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                        }
                    }
                    .sidebar-footer__link-container {
                        display: none;
                    }
                    .sidebar-footer__copyright {
                        display: none;
                    }
                }

                &::-webkit-scrollbar {
                    width: 0;
                    transition: width 0.3s ease;
                }

                &:hover::-webkit-scrollbar {
                    width: 0;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #1618230f;
                    border-radius: 50px;
                }

                &::-webkit-scrollbar-thumb:hover {
                }
            }
        }
    }
}

/* PC */
@media only screen and (min-width: 64em) {
}
