.login {
    width: 483px !important;
    position: relative;

    .ant-modal-content {
        padding-top: 48px;
    }

    .ant-modal-footer {
        display: none;
    }

    .ant-modal-close {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(22, 24, 35, 0.03);

        .login__close-btn {
            font-size: 25px;
        }
    }

    .login__back-btn {
        position: absolute;
        top: 20px;
        left: 16px;
        font-size: 24px;
        cursor: pointer;
    }

    .login-container {
        width: 375px;
        margin: 0 auto;
        .login__header {
            color: rgb(22, 24, 35);
            font-size: 32px;
            margin: 16px auto;
            font-weight: bold;
            text-align: center;
        }
        .login__option-container {
            .login__option {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                font-weight: 600;
                text-align: center;
                height: 44px;
                border: 1px solid rgba(22, 24, 35, 0.12);
                margin-bottom: 16px;
                cursor: pointer;
                padding: 0 12px;

                svg {
                    font-size: 20px;
                    position: absolute;
                    left: 12px;
                }
            }
        }
    }
    .login__policy-desc {
        color: rgba(22, 24, 35, 0.5);
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        padding: 16px 30px;

        a {
            color: rgb(22, 24, 35);
        }
    }
    .login__other-option {
        margin: 0 -24px -20px;
        border-top: 1px solid rgba(22, 24, 35, 0.12);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        color: rgb(22, 24, 35);

        a {
            color: rgb(254, 44, 85);
        }
    }
}
