.share-popover {
    margin: -4px -12px;
    width: 280px;
    max-height: 448px;
    overflow: auto;
    .share-popover__option-box {
        .share-popover__option {
            padding: 11px 16px;
            display: flex;
            align-items: center;
            margin: 0 3px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;

            svg {
                width: 26px;
                height: 26px;
                margin-right: 12px;
            }

            &:hover {
                background-color: #16182308;
            }
        }
    }
    .share-popover__more {
        margin: 0 4px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: #16182308;
        }
    }
    &::-webkit-scrollbar {
        width: 0;
        transition: width 0.3s ease;
    }

    &:hover::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1618230f;
        border-radius: 50px;
    }
}

.landing,
.following {
    display: flex;
    flex-direction: column;
    align-items: center;

    .landing__item-container {
        padding: 20px 0;
        display: flex;
        max-width: 692px;

        .landing__item-image-container {
            width: 56px;
            height: 56px;
            position: relative;
            overflow: hidden;
            border-radius: 50px;

            .landing__item-image {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .landing__item-content-container {
            margin-left: 12px;

            .landing__item-content {
                display: flex;

                .landing-item__left-side {
                    width: 510px;

                    .landing__author-container {
                        .landing__author-title {
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 25px;
                            margin-right: 4px;
                        }

                        .landing__author-name {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 28px;
                        }
                    }
                    .landing__author-description-container {
                        .landing__tag-list {
                            a {
                                font-size: 16px;
                                line-height: 22px;
                                word-break: break-word;
                                text-decoration: none;
                                font-weight: 600;
                                color: rgb(43, 93, 185);
                                cursor: pointer;

                                + a {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }

                .landing-item__right-side {
                    .landing__item-option {
                        min-height: 28px;
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 600;
                        border-radius: 4px;
                        background-color: transparent;
                        color: rgba(254, 44, 85, 1);
                        border: 1px solid rgba(254, 44, 85, 1);
                        cursor: pointer;
                        min-width: 88px;
                        margin-left: 26px;
                        margin-top: 7px;

                        &:hover {
                            background-color: rgba(254, 44, 85, 0.06);
                        }
                    }
                }
            }

            .landing__item-music-container {
                margin-top: 4px;
                margin-bottom: 12px;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;

                a {
                    text-decoration: none;
                    color: rgba(22, 24, 35, 1);
                    display: flex;
                    align-items: center;

                    .landing__music-link {
                        margin-right: 5px;
                        font-size: 16px;
                    }
                }
            }

            .landing__item-video-wrapper {
                display: flex;
                align-items: flex-end;
                gap: 20px;

                .landing__video-container {
                    video {
                        border-radius: 8px;
                        width: 100%;
                        height: 100%;
                        max-width: 600px;
                        // object-fit: contain;
                    }
                }

                .landing__video-option-container {
                    display: flex;
                    flex-direction: column;

                    .landing__option-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        cursor: pointer;

                        .landing__video-option {
                            margin-top: 8px;
                            margin-bottom: 6px;
                            width: 48px;
                            height: 48px;
                            font-size: 0px;
                            border-radius: 50%;
                            transition: all 0.2s ease-in-out 0s;
                            background-color: rgba(22, 24, 35, 0.06);
                            border: none;
                            cursor: pointer;

                            i {
                                font-size: 24px;
                            }
                        }

                        .landing__option-amount {
                            color: rgba(22, 24, 35, 0.75);
                            font-size: 12px;
                            line-height: 17px;
                            text-align: center;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        + .landing__item-container {
            border-top: 1px solid #d3d4d6;
        }
    }

    .follow__container {
        max-width: 736px;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 18px;

        .follow-card {
            width: 226px;
            height: 302px;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            .follow-card__background {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }

            .follow-card__info-box {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                padding: 30px 12px 20px;

                .follow-card__logo-container {
                    position: relative;
                    width: 48px;
                    height: 48px;
                    margin-bottom: 14px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        transform: translate(-50%, -50%);
                    }
                }
                .follow-card__name {
                    color: rgba(255, 255, 255, 1);
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: -0.028px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .follow-card__subname {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: rgba(255, 255, 255, 1);
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                }
                .follow-card__btn {
                    margin-top: 8px;
                    border-radius: 4px;
                    border: none;
                    color: rgba(255, 255, 255, 1);
                    background-color: rgba(254, 44, 85, 1);
                    min-width: 164px;
                    min-height: 37px;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 600;
                    transition: all 0.3s ease;

                    &:hover {
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
                            #fe2c55;
                    }
                }
            }
        }
    }
}

// --------- RESPONSIVE ---------
/* Mobile*/
@media only screen and (max-width: 46.1875em) {
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* PC */
@media only screen and (min-width: 64em) {
}
